<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658114513459-m2bu60t2higu3ba5k56j8kg5e2ls0unf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658114513459-m2bu60t2higu3ba5k56j8kg5e2ls0unf</string>
	<key>API_KEY</key>
	<string>AIzaSyDDJbdfwcaPZjrKF3noJxUynNP2K9AoVQE</string>
	<key>GCM_SENDER_ID</key>
	<string>658114513459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter18-9bfed</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter18-9bfed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658114513459:ios:d77593ade05bfa29073146</string>
</dict>
</plist>